/*----------------------- imports & variables -----------------------*/
@import 'https://fonts.googleapis.com/css?family=Passion+One';
@import '../../bower_components/breakpoint-sass/stylesheets/_breakpoint.scss';

$large-screen: 1200px;
$desktop-screen: 992px 1200px;
$tablet-screen: 768px 992px;
$phone-screen: 480px 768px;
$smallphone-screen: 100px 480px;

$mobile-version: 1px 768px;

/*----------------------- layout -----------------------*/
body {
  background-color: #000;
  font-family: sans-serif;
  margin: 0px;
  overflow-x: hidden;
}
.wrapper {
  margin: 0px auto;
  &--layout{
  max-width: 100%;
  }
  &--inner {
    margin: 0px auto;
    width: 100%;
    @include breakpoint($large-screen){
      max-width: 1170px;
    }
    @include breakpoint($desktop-screen){
      max-width: 970px;
    }
    @include breakpoint($tablet-screen){
      max-width: 750px;
    }
    @include breakpoint($phone-screen){
      max-width: 460px;
    }
    @include breakpoint($smallphone-screen){
      max-width: 300px;
    }
  }
}
a {
  color: white;
  text-decoration: none;
}
/*------- classes made to extend ------*/
.flex--row {
  display: flex;
  flex-direction: row;
  @include breakpoint($mobile-version) {
    flex-direction: column;
  }
}
.hero--theme {
  background: #5443A8;
}
.heading-text {
  font-family: 'Passion One', sans-serif;
  text-transform: uppercase;
}
.normal-font {
  font-family: sans-serif;
  text-transform: uppercase;
}

/*----------------------- modules -----------------------*/
.section{
  @extend .hero--theme;
  width: 100%;
  &--white{
    width: 100%;
    background: #FFF;
  }
  &--grey{
    width: 100%;
    background: #EEE;
  }
}
.section--main{
  @extend .section;
  @extend .flex--row;
  justify-content: flex-end;
}
.section--secondary{
  @extend .flex--row;
  justify-content: space-between;
  padding: 120px 0px;
}
.section--last {
  @extend .section--secondary;
  padding: 50px 0px 100px 0px;
}
/*------- nav ------*/
.top{
  @extend .hero--theme;
  width: 100%;
}
.nav-bar{
  @extend .flex--row;
  justify-content: space-between;
  padding: 40px 15px 30px 15px;
  margin: 0px auto;
}
.logo{
  width: 25px;
  height: 15px;
  margin-left: 50px;
  margin-top: 16px;
}
.nav {
  &--list{
    @extend .flex--row;
    padding: 0px;
    margin-right: 140px;
    list-style: none;
    li {
      margin: 0px 30px;
      text-transform: uppercase;
      color: #FFF;
      opacity: 0.7;
      font-size: 12px;
      font-weight: 100px;
      letter-spacing: 2px;
      transition: opacity 0.4s ease;
    }
    li:hover{
      opacity: 1;
    }
  }
}
// make horizontal margin a bit low with media queries
/*------- hero component ------*/
.hero{
  // margin: 100px 200px 0px 0px;
}
.content--main{
  float: right;
  margin-top: 100px;
  margin-right: 118px;
  margin-bottom: 280px;
  @include breakpoint($mobile-version) {
    margin: 100px auto 100px auto;
    display: flex;
    flex-direction: column;
  }

}
// make horizontal margin low and then auto with media queies
.headline {
  @extend .heading-text;
  font-weight: 700;
  letter-spacing: 6px;
  color: #FFF;
  line-height: 75px;
  font-size: 55px;
  @include breakpoint($mobile-version) {
    text-align: center;
  }
}
.cta-button{
  margin-top: 10px;
  margin-bottom: 20px;
  background: #FF57AE;
  padding: 18px 20px;
  border-radius: 35px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 3px;
  box-shadow: 5px 5px 35px 3px rgba(255,87,174,0.3),-5px 5px 35px 3px rgba(255,87,174,0.3);
  transition: background 0.4s ease;
}
.cta-button:hover{
  background: #FF67B6;
}
.cta-button:first-of-type{
  @include breakpoint($mobile-version) {
    margin: 10px auto 20px auto;
  }
}
/*------- following sections components ------*/
.title-container {
  @include breakpoint($mobile-version) {
    margin-bottom: 30px;
  }
}
.title-container h1{
  @extend .heading-text;
  font-size: 75px;
  line-height: 90px;
  color: #414B5D;
  letter-spacing: 18px;
  margin-top: 0px;
}
.seperator {
  margin-top: 40px;
  height: 10px;
  width: 70px;
  background: #CC458B;
}
.desc-container {
  margin-right: 35px;
  margin-bottom: 100px;
}
.desc-row {
  width: 100%;
  margin-right: 75px;
  img {
    width: 30px;
    height: 50px;
    margin-right: 60px;
    display: inline-block;
    vertical-align: top;
    @include breakpoint($mobile-version){
      display: block;
      margin: 10px auto;
    }
  }
}
.desc-text {
  width: 280px;
  display: inline-block;
  font-family: sans-serif;
  h5 {
    margin-top: 0px;
    margin-bottom: 20px;
    letter-spacing: 4px;
    font-size: 20px;
    color: #414B5D;
  }
  p {
    line-height: 30px;
    font-size: 15px;
    color: #5f5f5f;
  }
}
.center-content {
  padding: 40px;
  text-align: center;
}
.center-title {
  @extend .heading-text;
  color: #414B5D;
  font-size: 50px;
  letter-spacing: 8px;
  margin: 0px auto;
  padding: 20px;
}
.center-content .seperator{
  margin: 10px auto;
}
.routine {
  min-height: 300px;
}
.image{
  &--container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: hidden;
  flex-grow: 1;
  position: absolute;
  left: 0px;
  right: 0px;
  height: 300px;
  width: 100%;
  @include breakpoint($mobile-version) {
    height: 450px;
    flex-wrap: wrap;
  }
}
  &--holder {
    width: 25%;
    height: 100%;
    background: #eee;
    overflow: hidden;
    @include breakpoint($mobile-version) {
      width: 50%;
      height: 50%;
    }
  }
}
.image--holder.image1 {
  background: url('/images/i1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}
.image--holder.image2 {
  background: url('/images/i2.jpg');
  background-position: 50% 50%;
  background-size: cover;

}
.image--holder.image3 {
  background: url('/images/i3.jpg');
  background-position: 50% 50%;
  background-size: cover;
}
.image--holder.image4 {
  background: url('/images/i4.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.end-title {
  @extend .normal-font;
  letter-spacing: 4px;
  font-size: 30px;
  font-weight: 300;
  color: #FFF;
  margin-bottom: 15px;
}
.end-caption {
  @extend .normal-font;
  text-transform: none;
  font-size: 13px;
  letter-spacing: 3px;
  font-weight: 300;
  color: #cccccc;
}
.section--last .cta-end {
  margin-top: 85px;
  margin-right: 75px;
  @include breakpoint($mobile-version){
    margin: 50px auto;
  }
}
.socialmedia-icons{
  margin-top: 25px;
}
.socialmedia-icons img {
  margin-right: 20px;
  color: #FFF;
  opacity: 0.7;
  height: 30px;
  max-width: 30px;
}
